# modified: 2026-02-28

# This file ignores build directories and project tool directories.
# Remove composer.lock and package-lock.json for project type, leave in library type.

# Project-specific settings (put your files here)

# AI
.cecli*

# Build directories
build/
.cache/
.next/

# Composer
composer.lock
vendor/

# eslint
.eslintcache

# Grunt
.grunt/

# Husky
.husky/_/

# Minified css/js files
*.min.*

# Node
.node_repl_history
.npm/
node_modules/
npm-debug.log*
package-lock.json

# PHPUnit
.phpunit.result.cache

# Python
*.pyc
__pycache__/
*.pyo

# Symfony
.env.local.php
parameters.yml
var/
